name: promaja
description: Weather app made in Flutter.
publish_to: 'none'
version: 2.0.0+200

#
# DEPLOYING APP
# 1. `pubspec.yaml` -> Bump version number
# 2. `release_notes.txt` -> Update changelog for all languages
# 3. `default.txt` -> Update changelog for all languages
#

#
# Android
# `cd android/ && fastlane play_store_release`
#
# GitHub Releases
# `cd android/ && fastlane github_release`
#
# iOS
# `cd ios/ && fastlane app_store_release`
#

environment:
  sdk: 3.10.4

dependencies:
  flutter:
    sdk: flutter

  dio: 5.9.0
  easy_localization: 3.0.8
  envied: 1.3.1
  flutter_animate: 4.5.2
  flutter_card_swiper: 7.2.0
  flutter_colorpicker: 1.1.0
  flutter_displaymode: 0.7.0
  flutter_local_notifications: 19.5.0
  flutter_native_splash: 2.4.7
  flutter_riverpod: 3.0.3
  flutter_swipe_action_cell: 3.1.6
  flutter_web_browser: 0.17.3
  geolocator: 14.0.2
  hive_ce: 2.15.1
  hive_ce_flutter: 2.3.3
  home_widget: 0.8.1
  intl: 0.20.2
  logger: 2.6.2
  smooth_page_indicator: 1.2.1
  url_launcher: 6.3.2
  workmanager: 0.9.0+3

dev_dependencies:
  build_runner: 2.10.4
  envied_generator: 1.3.1
  flutter_launcher_icons: 0.14.4
  hive_ce_generator: 1.10.0

flutter:
  uses-material-design: true
  assets:
    - assets/
    - assets/fonts/
    - assets/icons/
    - assets/translations/
    - assets/weather/
  fonts:
    - family: Jost
      fonts:
        - asset: assets/fonts/Jost-500.ttf
          weight: 500
        - asset: assets/fonts/Jost-600.ttf
          weight: 600
        - asset: assets/fonts/Jost-700.ttf
          weight: 700

# Run code generation - `dart run build_runner build -d`

# Configuration for 'flutter_launcher_icons'
# Run icon generation with 'dart run flutter_launcher_icons:main'
flutter_launcher_icons:
  image_path_android: 'assets/icon.png'
  image_path_ios: 'assets/icon.png'
  android: true
  ios: true
  adaptive_icon_background: "assets/background.png"
  adaptive_icon_foreground: "assets/splash_icon.png"
  adaptive_icon_foreground_inset: 16
  adaptive_icon_monochrome: "assets/monochrome.png"
  min_sdk_android: 21
  remove_alpha_ios: true
  background_color_ios: '#17181E'
  image_path_ios_tinted_grayscale: "assets/icon_tinted.png"
  web:
    generate: true
    image_path: 'assets/icon.png'
    background_color: '#17181E'
    theme_color: '#17181E'
  windows:
    generate: true
    image_path: 'assets/icon.png'
    icon_size: 48
  macos:
    generate: true
    image_path: 'assets/icon.png'

# Configuration for 'flutter_native_splash'
# Run splash screen generation with 'dart run flutter_native_splash:create'
flutter_native_splash:
  background_image: 'assets/splash.png'
  android_12:
    image: 'assets/splash_icon.png'
    color: '#17181E'
    image_dark: 'assets/splash_icon.png'
    color_dark: '#17181E'
